<div class="container">
	<div id="content">
	<div class="row">
		<span class="page_title"><%= @actor.cname %></span>
		<div class="span9">
			<%= render @actor.movies %>
		</div>
	</div>
	</div>
</div>