<div class="container">
	<div id="content">
	<div class="row">
		<span class="page_title">最新文章</span>
		<div class="span9">
				<%= render @articles %>
				<%= paginate @articles %>
		</div>
	</div>
	</div>
</div>