<div class="container">
	<div class="row">
		<span class="page_title">电影收藏</span>
		<div class="span9">
	 			<%= render @movies %>
				<%= paginate @movies %>
		</div>
		<div class="row">
			<div class="span3">
				<h4 class="muted">电影类型</h4>
				<%= render @genres %>
			</div>
			<div class="span3">
				<h4 class="muted">电影文章</h4>
				<% for article in @articles %>
				<%= link_to article.title, article_path(article) %>
				<% end %>
			</div>
		</div>		
	</div>
</div>