<div class="container">
	<div id="content">
	<div class="row">
		<span class="page_title"><%= @director.cname %></span>
		<div class="span9">
			<%= render @director.movies %>
		</div>
	</div>
	</div>
</div>