#content {
	min-height: 480px;
	margin-bottom: 10px;
}

.info {
	line-height: 20px;
	margin-bottom: 10px;
}

.info span {
	color: #999999;
}

.review {
	margin: 10px;
	padding-left: 4px;
	border-left: 2px solid #0088cc;
	font-style: italic;
	color: #5d5d5d;
}

.square {
	float: left;
	width: 320px;
	height: 230px;
	padding: 0 30px 20px 0;
}

.square img {
	width: 320px;
	height: 180px;
}

.page_title {
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 1px;
	display: block;
	padding: 10px 0;
	margin-left:20px;
}