<div class="container">
	<div id="content">
	<div class="row">
		<span class="page_title">类型</span>
		<div class="span9">
	 			<%= @category.name %>
				<% if admin? %>
				<%= link_to 'Delete', category_path(@category), :confirm => "Are you sure?", :method => :delete %>
				<% end %>
		</div>
	</div>
	</div>
</div>