<h1>简历</h1>

<p>姓名：袁泽潭</p>

<p>生日：1984&#8211;10&#8211;07</p>

<p>邮箱：<a href="&#x6d;&#x61;&#x69;&#108;&#116;&#111;&#58;&#114;&#x75;&#x73;&#104;&#x79;&#122;&#116;&#x40;&#x67;&#x6d;&#x61;&#105;&#108;&#x2e;&#x63;&#x6f;&#x6d;">&#114;&#x75;&#x73;&#104;&#121;&#x7a;&#x74;&#64;&#103;&#x6d;&#97;&#x69;&#x6c;&#x2e;&#x63;&#x6f;&#x6d;</a></p>

<p>手机：15801335413</p>

<hr />

<h2>个人简介</h2>

<p>虽然大学时学习的是文科专业（中文和英语双学位），但是在学校就很喜欢互联网，喜欢在电脑上自学捣鼓好玩的东西，做过个人网站和论坛。06年大四后半学期进入当时刚兴起的互联网公司PPLive(现在的PPTV)，担任运营工作，见证了PPLive3年的快速成长，善待用户是学到的第一个重要的经验。09年到北京开始转行做产品，有了运营的经历，我在考虑产品的过程中也加入和运营和市场方面的思考，做一个成功的用户喜爱使用的产品，而不是一个实验性或者仅仅是个人喜好的产品。</p>

<p>喜欢独立思考，善于沟通，尊崇好的产品可以自我解释，自我完善。业余时间喜欢看电影、读书和旅行，也在学习Ruby on Rails技术和JS语言。</p>

<h2>个人技能</h2>

<p>基本上设计一款产品我都会从草图开始，在白纸或者格子本上涂画一些大致的想法，然后通过原型图软件迭代出几个版本，同项目相关人员讨论需求，确定后把最终文档交付设计团队和技术团队开始实施。</p>

<h3>产品设计技能</h3>

<ul>
<li>用户界面原型图设计</li>
<li>用户交互设计</li>
<li>项目管理</li>
<li>产品运营</li>
</ul>

<h3>前后端技能</h3>

<ul>
<li>HTML 和 CSS 网页设计</li>
<li>Ruby on Rails 开发</li>
<li>JavaScript（学习中）</li>
<li>熟悉亚马逊 EC2 环境开发</li>
</ul>

<h3>工作工具</h3>

<ul>
<li>文档工具:Word, Excel, PPT, Mardown Editor</li>
<li>Mockup:<a href="http://mockflow.com/">Mockflow</a>, <a href="http://www.balsamiq.com/">Balsamiq Mockups</a></li>
<li>产品效率:<a href="https://workflowy.com/">Workflow</a>, <a href="http://www.wunderlist.com/">Wunderlist</a>, <a href="https://www.dropbox.com/">Dropbox</a>
, Collabration:<a href="http://www.redmine.org/">Redmine</a>, QQ, MSN, Gmail</li>
<li>代码:Textmate</li>
<li>版本控制:Git</li>
</ul>

<h3>语言</h3>

<ul>
<li>汉语普通话</li>
<li>英语（听说读写）</li>
</ul>

<h3>我喜欢的产品&#8230;</h3>

<ul>
<li><a href="http://www.quora.com/Ricky-Yuan" title="My Quora Profile">Quora</a></li>
<li><a href="http://www.insatapaper.com">Instapaper</a></li>
<li><a href="http://www.flipboard.com">Flipboard</a></li>
<li><a href="http://www.spotify.com">Spotify</a></li>
<li><a href="http://37signals.com/">37signals</a></li>
<li><a href="http://www.apple.com">Apple</a></li>
<li><a href="http://www.pandora.com">Pandora</a></li>
<li><a href="http://www.douban.com">Douban</a></li>
<li><a href="http://www.github.com">Github</a></li>
<li><a href="http://www.dribbble.com">Dribbble</a></li>
</ul>

<h3>社交</h3>

<ul>
<li><a href="http://shiwai.in">Blog</a></li>
<li><a href="http://www.weibo.com/caption">Weibo</a></li>
<li><a href="http://www.quora.com/Ricky-Yuan" title="My Quora Profile">Quora</a></li>
<li><a href="https://www.facebook.com/rickyuan">Facebook</a></li>
<li><a href="http://www.flickr.com/photos/_ricky/">Flickr</a></li>
<li>QQ 653630675</li>
</ul>

<hr />

<h2>工作经历</h2>

<h3>北京康隆盛科技有限公司（乐看）</h3>

<p><strong>产品经理 - 2010.7至今</strong></p>

<p>乐看是国内第一家提供包月付费服务的视频网站，最初的模式和想法是来源于美国的Netflix，目前主要内容是以儿童动画为主，主要的客户就是有小孩的家庭用户。目前已经积累了一定的付费用户数，仍然在成长中。通过购买包月服务，乐看提供网站和移动客户端多种方式给用户收看高品质的内容。我负责了网站产品的开发以及参与了IOS和Android产品的开发。</p>

<ul>
<li>设计了乐看电影、纪录片以及儿童网站，拥有社区功能以及用户包月服务。</li>
<li>设计了游戏社交性功能：徽章系统以及影院收看模式。</li>
<li>设计了Metro风格的IOS儿童Web应用。</li>
<li>作为一个美国实习生的指导人，同他一起做了多个美国互联网优秀产品的演示，介绍给全公司的员工，帮助大家了解目前美国市场的一些视频和音乐行业的模式。</li>
<li>招募新的产品设计师和编辑人员，帮助他们融入工作。</li>
</ul>

<h4>乐看产品</h4>

<ul>
<li><a href="http://www.lekan.com">网站</a></li>
<li><a href="http://itunes.apple.com/cn/app/id445553533?ls=1&amp;mt=8">儿童 IOS APP</a></li>
</ul>

<h3>由你播(Youbro)</h3>

<p><strong>产品经理 - 2009.3&#8211;2010.6</strong></p>

<p>Youbro是一个新媒体公司，致力于提供高质量影视内容给个人和家庭用户。同中国有线合作，通过机顶盒提供高清内容给终端用户。同CNTV合作申请了国家三网融合的一个科技项目。</p>

<ul>
<li>分析市场需求，研究相关产品，定义我们自己的产品策略和方向。</li>
<li>设计和机顶盒终端配套的移动应用，可以让用户通过手机实现付费、下载等业务。</li>
</ul>

<h3>PPLive(PPTV)</h3>

<p><strong>内容和网站主编 - 2005.12&#8211;2009.2</strong></p>

<p>PPLive是我的第一家公司，很幸运能在那里待了黄金的3年时间，学到了很多经验。我的主要工作和成就就是作为其中一份子帮助它成为当时桌面终端的NO.1。</p>

<p>我学到的最重要的一个理念就是“关心你的用户”。把这句话深深的融入到你的骨子和血液里，你将会是一个好的编辑。</p>

<ul>
<li>负责直播平台，同CNTV/ESPN/NBA/湖南卫视/东方卫视等合作方在运营层面配合全年的各种直播赛事和活动。</li>
<li>管理桌面终端和网站的日常运营和更新。</li>
<li>参与桌面终端的mini页面产品设计，以及制作体育直播列表推广直播内容。</li>
<li>参与运营PPLive的品牌栏目“周末专题”，使之成为最有流量和影响力的频道。</li>
</ul>

<hr />

<h2>教育</h2>

<p>我的高中是当地（登封市）最好的一所中学，是一所寄宿式学校，每个月允许回家一次，有着严格的管理制度，也有着很好学习生活环境。当时我最喜欢的两个地方就是操场和图书馆，我都不记得有多少次下午放学后我是在这两个地方轮流度过的，那是一段非常美好的时光。</p>

<p>有一件特别的事是我想说的，从小学开始，我的文科就不好，语文和英语一直是我的短板，每次考试都是在及格的边缘。但是自从高二新学期一个新的英语老师到来之后，他用他的方法来帮助我们学习英语，到了高三有一次的全校通考，我首次拿到了英语的全校第一名。这件事也给我了很大的自信心，也是为什么我在大学时候选择英语作为我的第二专业。</p>

<p>大学我就读于武汉的华中科技大学，学习的汉语言文学专业，属于一个理工科学校里面不受关注的文科专业。</p>

<p>大二时候，我买了自己的第一台电脑，从此，除了学习和足球，我有了一个新的爱好。每天呆在电脑面前，学习浏览各种互联网的新东西。尝试学习了Photoshop, Dreamwaver, Flash以及网页设计，后来通过163.com的一个服务搭建了个人的第一个网站，很简单的静态页面，后来又搭建了院系里的小论坛。我发现除了我的专业之外，我真的很喜欢互联网，这也是为什么我毕业后选择互联网这个同我专业不太搭边的行业。我会继续为之而进行学习和探索。</p>
