<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<%= link_to 'ShiWai.In', root_path, :class => 'brand' %>
			<div class="nav-collapse collapse">
				<ul class="nav">
					<li>
						<%= link_to '电影', movies_path %>
					</li>
					<li>
						<%= link_to '文章', articles_path %>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>