<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="brand" href="./index.html">Blog</a>
			<div class="nav-collapse collapse">
				<ul class="nav">
					<li>
						<%= link_to 'Create', new_movie_path %>
					</li>
					<li>
						<%= link_to 'Director', directors_path %>
					</li>
					<li>
						<%= link_to 'Actor', actors_path %>
					</li>
					<li>
						<%= link_to 'Genre', genres_path %>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>